// https://gitlab.gnome.org/GNOME/gtk/-/blob/gtk-3-24/gtk/theme/Adwaita/_colors-public.scss
@use "sass:color";

$accent_color: #e6c498;
$border_color: color.change($accent_color, $alpha:0.3);
$active_color: color.change($accent_color, $alpha:0.2);
$active_hover_color: color.change($accent_color, $alpha:0.3);

$text_color: rgb(218, 218, 218);

$background_color: color.change($accent_color, $alpha:0.5, $lightness:10%, $saturation:40%);
$surface1: color.change($background_color, $lightness:10%, $saturation:30%);
$hover_color: color.change($surface1, $alpha:0.3);

$border: 1px solid $border_color;
$border_radius: 10px;