@use './variables' as *;

window.panel {
  background: transparent;
  color: $text_color;
  font-weight: bold;

  >centerbox {
    background: $background-color;
    border-radius: 10px;
    margin: 0 10px;
    border: $border;

    .panel-section {
      padding: 0 15px;

      &.panel-left {
        border-right: $border;
      }
      &.panel-right {
        border-left: $border;
      }
    }
  }

  .clock {
    button {
      border-radius: 8px;
      margin: 0 2px;

      background: transparent;

      &:hover,
      &:checked {
        background: $hover_color;
      }
    }
  }
}